<!--The content below is only a placeholder and can be replaced.-->


<div style="float: left" style="padding-top: 5mm; padding-bottom: 5mm">
	<sidebar-nav></sidebar-nav>
</div>

<app-login-form></app-login-form>

<vehicle-owner-crud></vehicle-owner-crud>

<div style="float: left" style="padding-top: 5mm; padding-bottom: 5mm" class="panel-body">
		<app-vehicle-owner-list></app-vehicle-owner-list>
</div>

<div style="float: left" style="padding-top: 5mm; padding-bottom: 5mm;" class="panel-body">
	<vehicle-owner-form></vehicle-owner-form>
</div>





