<div class=".panel-title">
  <h3>Create Vehicle Owner</h3>
</div>

<form #f="ngForm" (ngSubmit)="save(f)">

  <div ngModelGroup="owner" #owner="ngModelGroup">

    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input required ngModel id="fullName" name="fullName"
             minlength="10" maxlength="25"
             #fullName="ngModel"
             (change)=log(fullName) type="text"
             class="form-control"
             aria-describedby="emailHelp">

      <div class="alert alert-danger" *ngIf="!fullName.valid && fullName.touched">
        <div *ngIf="fullName.errors.required">Full name is required</div>
        <div *ngIf="fullName.errors.minlength">Minimum length should be
          {{ fullName.errors.minlength.requiredLength}} but is {{
          fullName.errors.minlength.actualLength }}</div>
      </div>

      <small id="emailHelp" class="form-text text-muted">First and Second Name</small>
    </div>

    <div class="form-group">
      <label for="address1">Address Line 1</label> <input id="address1"
                                                          required ngModel name="address1"
                                                          #address1="ngModel" type="text"
                                                          class="form-control">
    </div>

    <div class="form-group">
      <label for="address2">Address Line 2</label> <input id="address2"
                                                          required ngModel name="address2"
                                                          #address2="ngModel" type="text"
                                                          class="form-control">
    </div>

    <div class="form-group">
      <label for="city">City</label> <input id="city" required ngModel #city="ngModel"
                                            name="city" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="pincode">PinCode</label> <input id="pincode" required ngModel #pincode="ngModel"
                                                  type="number" class="form-control">
    </div>

    <div class="checkBox">
      <label for="">
        <input type="checkBox" ngModel name="isPaid">
      </label>
    </div>
    <p>
      {{ f.value | json }}
    </p>
  </div>


  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>
