<h4>{{ getTitle() }}</h4>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Address</th>
			<th>PinCode</th>
			<th>SubscriptionPaid</th>
			<th>Discount Offered</th>
		</tr>
	</thead>
	<tbody>

    <li *ngFor="let p of data"> {{ data.vehicleOwnerDta }} </li>

		<tr *ngFor="let vehicle of vehicleOwners">
			<td>{{vehicle.id}}</td>
			<td>{{vehicle.name}}</td>
			<td>{{vehicle.address1}}</td>
			<td>{{vehicle.pinCode}}</td>
			<td>{{vehicle.subscriptionPaid}}</td>

			<td *ngIf="vehicle.subscriptionPaid == 'yes'; then discount else noDiscount"></td>
			<ng-template #discount>10%</ng-template>
			<ng-template #noDiscount></ng-template>
		</tr>
	</tbody>

</table>
