<form  [formGroup]="pumpShopDetailForm" (ngSubmit)="onSubmit()">

  <div  class="form-group" formGroupName="header" >
    <h3>Pump Shop</h3>

    <label for="name">Name</label>
    <input class="form-control" id="name" type="text" formControlName="name">

    <label for="description">Description</label>
    <input class="form-control" id="description" type="text" formControlName="description">
  </div>

  <div class="form-group" formGroupName="address" >
    <h3>Address</h3>

    <label for="address1">Street</label>
    <input class="form-control" id="address1" type="text" formControlName="address1">

    <label for="address2"></label>
    <input class="form-control" id="address2" type="text" formControlName="address2">

    <label for="city">City</label>
    <input class="form-control" id="city" type="text" formControlName="city">

    <label for="zipCode">Zip Code</label>
    <input class="form-control"  id="zipCode"type="text" formControlName="zipCode">

    <label for="country">Country</label>
    <input class="form-control" id="country" type="text" formControlName="country">
  </div>

  <button type="submit" class="btn btn-primary"  [disabled]="!pumpShopDetailForm.valid">Save</button>

</form>
